#content{
	
	padding:1%;
	margin:1%;
	color: #545454;
	font: 1.2em /1.5em "Segoe UI", "Roboto", "Verdana";

	#c9807{
		/*background-color:$background4;
		margin: 1%;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;*/
		@include contact-basic;
		padding-bottom: 10px;
		.csc-header{
			margin-bottom: 10px;
			h2 {
				display: block;
				font-size: 1.2em;
				padding-top: 10px;	
				font-weight: bold;
				text-align: center;
				border-bottom: 1px solid #ccc;
			}
		}
		.Tx-Formhandler{
			#formhandler_contact_form {
				fieldset{
					font-size: 100%;
					font: inherit;
					//padding: 1%;
					//position:relative;
					border:none;
					width:100%;
					
					b{
						font-size: 10pt;
						width: 35%;
						padding-bottom:15px;
					}
					select{
						width:auto;
						font-size:8.5pt;
						max-width:180px;
					}
					
						
					Div.row{
						label{
							font-size:8pt;
							font-weight:bold;
							width:20%;
							white-space: pre; 
						}
						
					}
					.datepicker {
						position: relative;
						float: left;
						margin: 2px 0 0;
						background:  image-url("ico-table.gif") no-repeat;
						width: 18px;
						height: 20px;
						text-indent: -9999px;
						overflow: hidden;
						//@extend .datepicker-calendar;
					}
					input[type="text"]{
						display: block;
						float: left;
					}
					
					input.date{
						border: none;
						margin: 0 6px 0 0;
						padding: 5px;
						background: image-url("page-sprite.png") 0 -1570px no-repeat;
						width: 73px;
						color: #545454;
						font-size: $date_font;
						//@extend .date-input;
					}
					input.textwide {
						background: image-url("page-sprite.png")  no-repeat scroll 0 -1537px transparent;
						border: medium none;
						color: #545454;
						margin: 0;
						width:237px;
						padding: 6px 5px;
						//@extend .text-input;
					}
					textarea.textarea-380{
						//background: image-url("page-sprite.png") no-repeat scroll 0 -1095px transparent;
						border: medium none;
						color: #545454;
						margin: 0;
						padding: 5px 8px 12px 5px;
						width: 237px;
						height: 136px;
						resize: none;
						border-radius: 5px 5px 5px 5px;
						border: 1px solid #d3c7a7;
						-webkit-box-shadow: inset 0 0 5px #ececec;
						//@extend .textarea-input;
					}
					.btn-submit{
						@include button;
						float: left;
						margin-left: 100px;
					}
					.clear {
						clear: both;
					}
					label{
						margin:1px 0;
						font-weight:900;
					}
				}
			}
			
		}
	}
}
