#content{
	
	padding:1%;
	margin:1%;
	color: #545454;
	font: 1.2em /1.5em 'PT Sans', sans-serif;
	#c9801{
		background-color:#f7f3e7;
		margin: 1%;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		
		.csc-header{
			margin-bottom: 24px;
			h2 {
				display: block;
				font-size: 1.2em;
				font-weight: bold;
			}
		}
		.Tx-Formhandler{
			
			#formhandler_contact_form {
				
				fieldset{
					font-size: 100%;
					font: inherit;
					//padding: 1%;
					//position:relative;
					border:none;
					width:100%;
					
					b{
						font-size: 10pt;
						width: 35%;
						padding-bottom:15px;
					}
					select{
						width:auto;
						font-size:8.5pt;
						
					}
					
						
					Div.row{
						label{
							font-size:8pt;
							font-weight:bold;
							width:20%;
							white-space: pre; 
						}
					}
					input.textwide {
						background: image-url("page-sprite.png")  no-repeat scroll 0 -1537px transparent;
						border: medium none;
						color: #545454;
						margin: 0;
						width:237px;
						padding: 6px 5px;
					}
					textarea.textarea-380{
						background: image-url("page-sprite.png") no-repeat scroll 0 -1095px transparent;
						border: medium none;
						color: #545454;
						margin: 0;
						padding: 5px 8px 12px 5px;
						width: 237px;
						height: 143px;
						resize: none;
					}
					.btn-submit{
						@include button;
						float: left;
						margin-left: 100px;
					}
					a.selectButton{
					
					}
					
					label{
						margin:1px 0;
						font-weight:900;
					}
				}
			}
		}
		
	}
}
Div.clear-both{
	height:20px;
	
}
.selectarea{
	display:none;
}
.csc-header h3 {
	line-height: 1.3em;
}