#main{
	.page-content{
		display:block;
		padding:1%;
		margin:1%;	
		#c5882{
		/*background-color:$background4;
		margin: 1%;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;*/
		@include contact-basic;
		padding-bottom: 10px;
			.csc-header{
				h3{
					font-size: $h2_size;
					font: inherit;
					text-align: center;
					border-bottom: 1px solid #ccc;
				}
			}
			.tx-wecstaffdirectory-pi1{
				.tx-wecstaffdirectory-fullWidth{
					.tx-wecstaffdirectory-stafflist{
						/*float: left;
						height: 120px;*/
						//padding-bottom: 10px;
						/*width: 48%;
						display: block;
						font-size: 12px;
						margin: 1px;
						padding: 2px;*/
						
						.leftColumn{
							//display: block;
							float: left;
							//width: 25%;
							padding-left: 10px;
						}
						.rightColumn{
							//display: block;
							//float: left;
							//width: 65%;
							padding-left: 100px;
							overflow-wrap: break-word;
							.spacer{
								padding-bottom: 40px;
							}
							.fullwidth{
								a{
									img{
										//padding-bottom: 40px;
									}
								}									
								
							}
							
						}
					}
						
					
				}
				.tx-wecstaffdirectory-fullWidthCentered{
					//margin: 0 auto;
					//text-align: center;
					//width: 100%;
				}
				.tx-wecstaffdirectory-staffpage{
					.photo{
						width: 60%;
						margin: 0 auto;
					}
					.maincontent{
					
						.tx-wecstaffdirectory-fieldHeaderLarge{
							font-size: 18px;
							font-weight: bold;
							width: 60%;
							margin: 0 auto;
						}
						.tx-wecstaffdirectory-fieldHeader{
							display: block;
							float: left;
							font-size: 14px;
							font-weight: bold;
							margin-bottom: 2px;
							margin-top: 8px;
							width: 100%;
						}
						.tx-wecstaffdirectory-fieldLabel {
							clear: left;
							display: block;
							float: left;
							padding-bottom: 2px;
							padding-left: 8px;
							width: 35%;
							font-size:$font_size;
						}
						.tx-wecstaffdirectory-fieldDescription {
							display: block;
							float: left;
							padding-bottom: 2px;
							width: 60%;
							font-size:$font_size;
							a {
								color: #1480ee;
								text-decoration: none;
								word-wrap: break-word;
							}
						}
					}
					.topmenu{
						.sep{
							a{
								margin:1%;
								color: #1480ee;
								font-size:9pt;
							}
						}
						select{
							font-size:8pt;
							margin:1%;
						}
					
					}
					
				}
				
			}
			.tx-wecstaffdirectory-fullWidthCentered{
				//margin: 0 auto;
				//text-align: center;
				//width: 100%;
			}
			.tx-wecstaffdirectory-spacer{
				//clear: both;
				//height: 0.1em;
				//line-height: 0.1em;
			}

		}
		
	}

}
