// Every page should have a class on the body
// Scope that in each file at the start
#main{
	.home-content{
		display:none;
	}
	.main-holder{
		#sidebar{
			margin-top:1%;
			.ui-inline{
				//margin-top:40px;
				background:#f4e9d5;
				border :1px solid #7E7676;
				border-radius: 5px 5px 5px 5px;
				li{
					display: inline;
					padding-left:$spacing;
					
					a{
						font-size : $h2_size;
						text-decoration:none;
						
					}
				}
			}
			.box-form{
				/*#tab-1 form{	
					.field{
						.row{
							.col{
								.row{
									//a{
										.datepicker {
											position: relative;
											float: left;
											margin: 2px 0 0;
											background:  image-url("ico-table.gif") no-repeat;
											width: 18px;
											height: 20px;
											text-indent: -9999px;
											overflow: hidden;
										}
									//}
								}
							}
						}
					}
				
				}*/
				
				#tab-2 form {
					#mySelectText0{
						display:none;
					}
					fieldset{
						border: 0;
					}
					.field:first-child {
						background: none;
					}
					.field{
						background: image-url("bg-field.gif") repeat-x 0 0;
						padding: 7px 0 11px;
						width: 100%;
						overflow: hidden;
						.quarter-col{
							float: left;
							margin-right: 40px;
							width: 58px;
							font-weight:bold;
						
						}
						.third-col{
							width: auto;
							margin: 0 0 0 5px;
							float: left;
							min-width: 90px;
							.summer{
								background: image-url("season.gif") 0 0 no-repeat;
								padding: 0 0 0 16px;
								height: 24px;
							}
							.winter{
								background: image-url("season.gif") 0 -24px no-repeat;
								padding: 0 0 0 16px;
								height: 24px;
							}
						}
						.label-2{
							font-weight:bold;
						}
						.row{
							.btn-submit{
								@include button
							}
						}
					
					}
					.row .half-col{
						width: 150px;
						float: left;
						.row{
							width: 100%;
							overflow: hidden;
							margin-bottom: 3px;
						}
						input[type="checkbox"]{
							float: left;
							width: auto
						}
						.highlights{
							line-height: 26px;
							height: 26px;
							padding: 0;
							margin: 0;
							float: left;
							width: auto;
							
							img{
								position: relative;
								float: left;
								height: 26px;
							}
						}	
							
					}
					.row .half-col:first-child{
						margin:0;
					}
				}	
			
			}
			.links-block{
				margin-top: 20px;
				.bodytext{
					h2{
						color:black;
						font-size:$h2_size;
						font-weight:bold !important;
						background:$background3;
						&:before {
						  margin-top: -7px;
						  margin-left: -20px;
						  content: "";
						  top: 50%;
						  position: absolute;
						}
						> .menu_indicator {
							  float: right;
						}
						border: $border2;
						font-size: 14px;
						padding: 11px 10px 10px;
						margin: 0;
						border-radius: $border_radius;
						
						&[data-ur-state="disabled"]{
							
						  > .menu_indicator {
							background: image-url("plus.png") no-repeat 95% center;
							width: 20px;
							height: 20px;
							//@extend .sprites-plus;

						  }
						}
						&[data-ur-state="enabled"]{
						  > .menu_indicator {
							background: image-url("minus.png") no-repeat 95% center;
							width: 13px;
							height: 13px;
							//@extend .sprites-minus;
						 }
						}
					}
					#life-advantages{
						background-color: $background3;
						border-left: $border2;
						border-right: $border2;
						border-bottom: $border2;
						border-radius: 0 0 5px 5px;
						&[data-ur-state="enabled"]{
							>p{
								padding: 11px 20px 9px;
								a{
									@include button;
								}
							}
						}
						ul{
							//-webkit-padding-start: 0px;
							//-webkit-margin-before: 0em;
							//-webkit-margin-after: 0em;
							@include ul-webkit-padding;
							@include ul-border-radius-padding;
							//border-radius: 0 0 5px 5px;
							//padding: 2px 0 0;
							//overflow: hidden;
							li{
								display: block;
								width: 100%;
								border-bottom: $border2;
								padding: 11px 20px 9px;
								color: #3D211A;
								font-size: $font_size;
								font-weight: bold;	
									
							}
						
						
						}
					}	
				}
			}
			.top-block{
					margin-top: 20px;
					margin-bottom: 20px;
					h2{
						color:black;
						font-size:$h2_size;
						font-weight:bold !important;
						background:$background3;
						&:before {
						  margin-top: -7px;
						  margin-left: -20px;
						  content: "";
						  top: 50%;
						  position: absolute;
						}
						> .menu_indicator {
							  float: right;
						}
						border: $border2;
						font-size: 14px;
						padding: 11px 10px 10px;
						margin: 0;
						border-radius: $border_radius;
						
						&[data-ur-state="disabled"]{
						  > .menu_indicator {
								//background: image-url("plus.png") no-repeat 95% center;
								//width: 20px;
								//height: 20px;
								@extend .sprites-plus;
							}
						}
						&[data-ur-state="enabled"]{
						  > .menu_indicator {
								background: image-url("minus.png") no-repeat 95% center;
								width: 13px;
								height: 13px;
								//@extend .sprites-minus;
							}
						}
					}
					ul{
						background-color: $background3;
						border-left: $border2;
						border-right: $border2;
						@include ul-webkit-padding;
						@include ul-border-radius-padding;
						//-webkit-padding-start: 0px;
						//-webkit-margin-before: 0em;
						//-webkit-margin-after: 0em;
						//border-radius: 0 0 5px 5px;
						//padding: 2px 0 0;
						//overflow: hidden;
						li{
							display: block;
							width: 100%;
							border-bottom: $border2;
							padding: 11px 20px 9px;
							font-size: 13px;
							font-weight: bold;	
							a{
								float:right;
								margin-right:40px;
							}
						}
					}
			
			}
			
		}
		
	
	}

}
// hiding all  the content used in tool tip date picker etc.
.tooltip{
	display:none;
}
#ui-datepicker-div{
	display:none;
}
#optionsDiv0,#optionsDiv1,#optionsDiv2,#optionsDiv3,#optionsDiv4,#optionsDiv5,#optionsDiv6,#optionsDiv7,#optionsDiv8,#optionsDiv9{
	display:none;
}