#main{

	.page-content{
		display:block;
		padding:1%;
		margin:1%;
		#c12267{
			background-color:#f7f3e7;
			margin: 1%;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			.csc-textpic{
				overflow:hidden;
			}
			.csc-textpic-intext-right-nowrap {
				position: relative;
				margin: 1%;
				height: 100%;
				
				.csc-textpic-text{
					
					
					.csc-textpicHeader{
						h2 {
							display: block;
							font-size: 1.5em;
							-webkit-margin-before: 0.83em;
							-webkit-margin-after: 0.83em;
							-webkit-margin-start: 0px;
							-webkit-margin-end: 0px;
							font-weight: bold;
						}
					}
							
						h3 {
							font-size: 17px;
							line-height: 1.0em;
							padding: 2px 0 0 0;
							margin: 10px 0 8px 0;
							font-weight:normal;
							
						}
				}
			}
			.csc-textpic-text{
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
				.bodytext {
					font: normal normal 400 14px /20px "PT Sans";
					color: #545454 !important;
					i{
						font-style:normal;
					}
				}
			}
		}
		#c12273{
			background-color:#f7f3e7;
			margin:1%;
			padding:1%;
			h3 {
				font-size: 17px;
				line-height: 1.0em;
				padding: 2px 0 0 0;
				margin: 5px 0 5px 0;
				font-weight:normal;
				color: #545454 !important;
			}
			.bodytext {
				font: normal normal 400 14px /20px "PT Sans";
				color: #545454 !important;
				i{
					font-style:normal;
				}
			}
		}
		.banner-brown{
			.banner-brown-content{
				h2{
					color:black;
					font-size:$h2_size;
					font-weight:bold !important;
					background:#e6e6e6;
					&:before {
					  margin-top: -7px;
					  margin-left: -20px;
					  content: "";
					  top: 50%;
					  position: absolute;
					}
					> .menu_indicator {
						  float: right;
					}
					border: 1px solid #5f0f02;
					font-size: 14px;
					padding: 11px 10px 10px;
					margin: 0;
					border-radius: $border_radius;
					
					&[data-ur-state="disabled"]{
						
					  > .menu_indicator {
						background: image-url("plus.png") no-repeat 95% center;
						width: 20px;
						height: 20px;
					  }
					}
					&[data-ur-state="enabled"]{
					  > .menu_indicator {
						background: image-url("minus.png") no-repeat 95% center;
						width: 13px;
						height: 13px;
					 }
					}
				}
				ul{
					background-color: #e6e6e6;
					border-left: 1px solid #5f0f02;
					border-right: 1px solid #5f0f02;
					border-bottom: 1px solid #5f0f02;
					border-radius: 0 0 5px 5px;
					@include clearfix();
					-webkit-padding-start: 0px;
					-webkit-margin-before: 0em;
					-webkit-margin-after: 0em;
					border-radius: 0 0 5px 5px;
					padding: 2px 0 0;
					overflow: hidden;
					li{
						a{
							display:block;
							width: 100%;
							border-bottom: 1px solid #5f0f02;
							padding: 11px 20px 9px;
							color: #3D211A;
							font-size: $font_size;
							font-weight: bold;
							>.arrow-indicator{
								background: image-url("menu_go.png") no-repeat 95% center;
								width: 9px;
								height: 13px;
								float:right;
								display:inline-table;
								margin-right:10%;
							}
						&:last{
						  padding-bottom: 3px;
						  overflow: hidden;
						  border-bottom: 0px none #000;
						}
						}
						
					}
				}	
			
			}
		}
		
		
		
		
	}	
	#sidebar{
		ul{
			li{
				a{
					color:$color1;
					font-weight:bold;
					font-size:$font_size;
					text-decoration:underline;
					
				
				}
			
			}
			
		
		}
	
	}
}