.sprites-plus {
	background: url("/_moovweb_local_assets_/images/plus.png") no-repeat 95% center;
	width: 20px;
	height: 20px;
}
.sprites-minus {
	background: url("/_moovweb_local_assets_/images/minus.png") no-repeat 95% center;
	width: 13px;
	height: 13px;
}
.sprites-arrow-indicator{
	background: url("/_moovweb_local_assets_/images/menu_go.png") no-repeat scroll 95% center rgba(0, 0, 0, 0);
	width: 9px;
	height: 13px;
	float:right;
}
.text-input{
	background: url("/_moovweb_local_assets_/images/page-sprite.png")  no-repeat scroll 0 -1537px transparent;
	border: medium none;
	color: #545454;
	margin: 0;
	width:237px;
	padding: 6px 5px;
}
.textarea-input{
	background: url("/_moovweb_local_assets_/images/page-sprite.png") no-repeat scroll 0 -1095px transparent;
	border: medium none;
	color: #545454;
	margin: 0;
	padding: 5px 8px 12px 5px;
	width: 237px;
	height: 143px;
	resize: none;	
}
.date-input{
	background: url("/_moovweb_local_assets_/images/page-sprite.png") 0 -1570px no-repeat;
	border: none;
	margin: 0 6px 0 0;
	padding: 5px;
	width: 73px;
	color: #545454;
	font-size: $date_font;
}
.datepicker-calendar{
	background:  url("/_moovweb_local_assets_/images/ico-table.gif") no-repeat;
	position: relative;
	float: left;
	margin: 2px 0 0;
	width: 18px;
	height: 20px;
	text-indent: -9999px;
	overflow: hidden;

}
