#footer {
	@include footer;
	  width: auto;
	  padding: 14px 10px;
	  height: 72px;
	  font-weight: normal;
	  div .container-holder{
			text-align: center;
			#trusted_shops_bottom{
				display:none;
			}
			#label{
				.euro-logo {
					display: inline;
					a{
						width:104px;
						height:70px;
						background: image-url("euro-logo.gif") no-repeat 95% center;
						display: block;
						text-indent:-9999px;
						
						
					}
				}
				.copy{
					float: left;
					margin-left: 40%;
				}
				.logo {
					display: inline;
					float: right;
					margin-top: -60px;
				a{
					width:154px;
					height:53px;
					background: image-url("tui-logo.PNG") no-repeat 95% center;
					display: block;
					text-indent:-9999px;
				}
				
			}
			#tui-label{
				
			}
			
			}
			
			#tui-copy{
				font-weight:bold;
			}
			
		
		}

}	